<!DOCTYPE html>
<html lang="en">
<!--====================================================================-->
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="style.css">

  <title>Page Title</title>



<!--use <script> here if authentication, API, or critical for site to run-->
</head>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
<body>




<script src="script.js"></script>
</body>
<!--====================================================================-->
</html> 